<div class="container mt-3">
  <div class="jumbotron contenedor productos">
    <h1 style="color: blue">Ingrese productos</h1>
    <br />

    <form onsubmit="return agregarProducto(this)">
      <div class="form-group">
        <label for="title"><b>Title</b></label>
        <input id="title" class="form-control" type="text" name="title" />
      </div>

      <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input id="price" class="form-control" type="text" name="price" />
      </div>

      <div class="form-group">
        <label for="thumbnail"><b>Thumbnail</b></label>
        <input id="thumbnail" class="form-control" type="text" name="thumbnail" />
      </div>

      <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>

    <h2>Lista de productos</h2>
    <div class="table-responsive">
      <table id="vistaProductos" class="table table-dark"></table>
    </div>
  </div>

  <div class="jumbotron contenedor mensajes">
    <h2>Centro de mensajes</h2>
    <span>Compresión </span><span id="compresion"></span><span>%</span>
      <div id="mensajes"></div>
      <form onsubmit="return agregarMensaje(this)">
        <input type="email" id="email" placeholder="diego@outlook.com" required />
        <input type="text" id="nombre" placeholder="nombre..." required />
        <input type="text" id="apellido" placeholder="apellido..." required />
        <input type="text" id="edad" placeholder="edad..." required />
        <input type="text" id="alias" placeholder="alias..." required />
        <input type="text" id="avatar" placeholder="avatar..." required />
        <input type="text" id="text" placeholder="Ingrese un mensaje..." />
        <input type="submit" value="Enviar" />
      </form>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<script src="js/main.js"></script>
