<div class="container mt-3">
    <div class="jumbotron contenedor productos">
        <h1 style="color: blue">Login de Usuario</h1>
        <br />

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="nombre"><b>Ingrese su nombre</b></label>
                <input id="nombre" class="form-control" type="text" name="nombre" />
            </div>
            <button class="btn btn-success mt-3 mb-5">Enviar</button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/login.js"></script>